h1 {
    text-align: center;
    background-color: lightgrey;
    margin: -8px -8px 25px -8px;
    padding: 15px;
}

body {
    font-family: 'Abel', sans-serif;
}

.product-hero {
    margin: 3% 10%;
    max-width: 363px;
    /* width: 65%; */
 }

.product-hero img {
    width: 100%;
    border: 1px solid grey;
}

.product {
    border: 1px solid grey;
    max-width: 280px;
    margin: 15px 15px;
    vertical-align: top;
    padding: 20px;
}

#content {
    display: block;
    max-width: 353px;
    margin: auto;
}

.product-carousel-thumbnail {
    width: 10vw;
    margin: 5px;
    border: 2px solid rgba(0,0,0,0);
    padding: 0;
    display: inline-block;
}

.product-carousel-thumbnail img {
    width: 100%;
}

.product-carousel-overlay {
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.7);
    z-index: 100;
}

.product-name a {
    text-decoration: none;
    color: #bf6565;
}

.product-name a:hover {
    text-decoration: underline;
}

.product-name a:visited {
    color: #bf6565;
}

.product-name {
    text-decoration: none;
    padding: 0 10%;
}

.product-reviews {
    background-color: #fff2f2;
    padding: 5px;
    margin: 5px 10%;
}

.product-messages {
    margin: 10px 10%;
    text-align: center;
    color:  brown;
    font-style: unset;
    text-shadow: black 0px 0px 1px;
}

.product-flags {
    padding: 5px;
    /* margin: 5px; */
    display: inline-block;
}

.product-flag {
    display: inline-block;
    margin: 0px 3px;
}

.product-carousel {
    padding: 50px 0;
    background-color: rgba(0,0,0,0.85);
}

.product-thumbnail-container {
    display: block;
    padding: 10px;
    vertical-align: top;
    width: 75%;
    overflow-x: auto;
}

.product-carousel-view {
    display: block;
    width: 65%;
    margin: 15px auto 100%;
    vertical-align: top;
    text-align: center;
}

.product-carousel-view img {
    width: 100%;
    max-width: 363px;
}

.product-carousel-active {
    border: 2px solid #bf6565;
}

.product-flag-newcore {
    color: red;
    text-decoration: underline;
    text-transform: uppercase;
    font-style: italic;
    margin-right: 6px;
}

.product-flag {
    height: 14px;
}

.product-flag img {
    /* width: 100%; */
    height:  100%;
}

.product-price {
    display: inline-block;
}

.product-carousel-exit {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 62px;
    margin-right: 15px;
    position: absolute;
    display: block;
    left: 80%;
    top: 8%;
}

.product-carousel-exit img {
    height: 100%;
    width: 100%;
}

@media (min-width: 772px) and (max-width: 1280px){
    #content {
        display: block;
        max-width: 704px;
    }
    
    .product{
        display: inline-block;
    }

    .product-thumbnail-container {
        display: block;
        box-sizing: border-box;
        /* width: 25%; */
    }

    .product-carousel-thumbnail {
        display: inline-block;
        max-width: 50%;
    }

    .product-carousel-thumbnail img {
        width: 100%;
    }

    .product-carousel-view {
        /* display: inline-block; */
    }

    .product-hero {
        margin: 3% 10%;
        max-width: 363px;
 }
}

@media (min-width: 1280px){
    #content {
        margin: auto;
        max-width: 1056px;
        display: block;
    }
    
    .product{
        display: inline-block;
    }

    .product-thumbnail-container {
        max-width: 363px;
        display: inline-block;
    }

    .product-carousel-thumbnail{
        max-width: 50%;
        display: inline-block;
    }

    .product-carousel-thumbnail img {
        width: 100%;
    }

    .product-carousel-view {
        display: inline-block;
    }
}